body{
    font-family: Helvetica;
    background-color: #ffaaff;
}

form{
    background-color: #ffaaff;
    text-align: center;
    max-width: 500px;
    margin: auto;
    padding: 25px;
}

#textbox{
    width: 50%;
    text-align: center;
    font-size: 1.5em;
    border: 1px solid;
    border-radius: 50px;
    margin-bottom: 15px;
}

label{
    margin-top: 15px;
    font-size: 1.5em;
    font-weight:600;
}

button{
    margin-top: 15px;
    border: none;
    background-color: #ff2f7f;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    padding: 15px 20px;
    border-radius: 50px;
    font-weight: bolder;
    cursor: pointer;
}

button:hover{
    background-color:#ff0000;
}

#results{
    font-size: 1.75em;
    font-weight: bold;
}